html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
 }
 
 
 body {
    width: 100%;
    margin: auto;
 }
 
 main {
    height: 1200px;
    width: 900px;
    margin: auto;
 
 }
 
 header {
    margin: auto;
    width: 900px;
    height: 40px;
    color: #BADA55;
    background: #B58A69;
    text-align: center;
    font-size: 1.2; 
 }
 
 nav {
    margin: auto;
    width: 900px;

 }
 
 nav ul {
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    padding: 20px;
    
 }
 
button{
    color: #5E5E4A;
    width: 150px;
}

 nav ul li {
    list-style: none;
 }
 
 nav ul li a {
    font-size: 18px;
    text-decoration: none;
    color: #000;
 }
 
 nav ul li a:hover{
    color: red;
 }
 
 .estacion {
    background: #DEE5DE;
    width: 900px;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: 100px;
 }
 
 .estacion > .texto {
    max-width: 58%;
 }
 
 .estacion > picture > img {
    width: 320px;
    height: 260px;
    margin-left: 50px;
    margin-top: 10px;
 }
 
 .texto-estacion > h2 {
    text-align: justify;
    font-size: 32px;
    color: #000;
    font-weight: 100;
    margin-left: 40px;
 }
 
 .texto-estacion > p {
    padding:  0 30px;
    text-align: justify;
    font-weight: 300;
 }
 
 .estacion > button {
    background: #5E5E4A;
    margin-left: 120px;
    margin-top: 40px;
    margin-bottom: 50px;
    padding: 10px 30px;
    color: white;
 }
 
 .floresPrimavera {
    width: 900px;
    background: #D7D7CB;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 200px;
 }
 
 .texto-flores > h2 {
    font-size: 40px;
    color: #000;
    font-weight: 100;
 }
 
 .imagenes-container {
    width: 650px;
    display: flex;
    justify-content: space-between;
 }
 
 .imagenes-container > picture > img {
    width: 200px;
    height: 120px;
 }
 
 footer {
    margin: 0;
    width: 100%;  
    height: 120px;
    background: #5E5E4A;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
 }
 
 footer p {
    font-size: 14px;
    color: #E8E6E6;
 }
 
 @media screen and (max-width: 650px) {
    nav ul {
        flex-direction: column;
    }
}
